
<h3>All Projects</h3>
<div id="container"></div>


<script>
ReactDOM.render(
  React.createElement(Project, {url:"/api/v1/projects", user: "<%=@user%>"}),
  document.getElementById('container')
)
</script>
