#rightArrow {
  z-index: 3;
  font-size: 60pt;
  position: absolute;
  top: 50%;
  left: 90%;
}

#leftArrow {
  z-index: 3;
  font-size: 60pt;
  position: absolute;
  top: 50%;
  margin:auto;
}

.hideable {
  display: none;
}

#pform {
  margin-top: 7%;
  margin-left: 30%
}

.projcard {
  margin:auto;
  display:block;
  max-width:200px;
  max-height: 250px;
  width:auto;
  height:auto;
}

.proj {
  max-width: 250px;
  height: 400px;
}
