
<header id="header" class="page-topbar">
  <div className="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo right">Workbench</a>
        <ul>
          <li><a class="dropdown-button" data-beloworigin="true" data-constrainwidth="false" href="#!" data-activates="dropdownNav"><i class="material-icons">list</i></a></li>
        </ul>
      </div>


    </nav>
  </div>
      <ul id="dropdownNav" class="dropdown-content">
          <li><a href="/">All projects</a></li>
          <li class="divider"></li>
        <% if !session[:user_id] %>
          <li><%= link_to "Login", login_path %></li>
          <li class="divider"></li>
        <% else %>
          <li><%= link_to "#{User.find(session[:user_id]).name}'s Shit", user_path(session[:user_id]) %></li>
          <li class="divider"></li>
        <% end%>
        <%if !user_signed_in?%>
          <li><%= link_to "Register", signup_path %></li>
          <li class="divider"></li>
        <%end%>
        <% if user_signed_in? %>
          <li><%= link_to "Logout", logout_path %></li>
          <li class="divider"></li>
        <%end%>
      </ul>
</header>
